@import url('https://fonts.googleapis.com/css?family=Cousine');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: "Cousine", arial, sans-serif;
}

a, p, li, ul, span, section {
  font-family: "Cousine", arial, sans-serif;
}

p {
  line-height: 1.5em;
}

\::selection {
  background: $light-grey;
}

\::-moz-selection {
  background: $light-grey;
}

ul, li, a {
  text-decoration: none;
}

a {
  -webkit-tap-highlight-color: transparent;
  &:hover, &:active, &:focus {
      text-decoration: none!important
      outline: none!important
  }
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.clearix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  color: #848484;
}

.home {
  height: 100vh;
  width: 100%;
}

.intro {
  width: auto;
  margin-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro p {
  font-size: 1.3em;
}

.artist-preview {
  padding: 1em;
  border-bottom: 1px solid #303030;
}

.artist-preview:hover {
  background: #303030;
}

.artist-preview img {
  width: 80px;
}

.artists-menu {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #232323;
}

.artists-menu h4 {
  color: #848484;
  font-size: .9em;
}

.artists-menu img {
  max-width: 70px;
  clip-path: circle(40px at center);
}

.artists-menu::-webkit-scrollbar {
  display: none;
}

.artist {
  width: auto;
  margin-left: 300px;
  padding: 2em 4em 2em 2em;
  position: absolute;
  top: 0;
}

.menuTop {
  height: 50px;
  width: 90px;
  text-align: center;
  padding-right: 2em;
  padding: 1em;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
}

.menuTop a {
  color: #848484;
}

.menuTop a:hover {
  color: #333333;
}

